* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: #e1e1e1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .container-arrow {
    height: 3.4rem;
    background: #b21942;
    a {
      color: #fff;
      font-size: 1.7rem;
    }
  }

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .container {
      height: 90%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        text-shadow: 1px 1px 2px black;
      }
      form {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .row .col span,
        .col-6 span {
          color: #fff;
        }
        .row-1 {
          display: flex;
          align-items: center;
          border-radius: 10px;
          height: 3.7rem;
          width: 100%;
          background: yellowgreen;
          background: #ec4767;
          .col-6 Select,
          .col input {
            padding: 0 5px;
            width: 5rem;
          }
          .col-6 Select:focus,
          .col input:focus {
            outline: none;
          }
        }
        .row-2 {
          border-radius: 10px;
          height: 5rem;
          width: 100%;
          background: rebeccapurple;
          background: #ec4767;
          .col-6 {
            display: flex;
            flex-direction: column;
            row-gap: 3px;
            justify-content: center;
            input {
              padding: 0 5px;
            }
            input:focus {
              outline: none;
            }
          }
        }
        .row-3 {
          border-radius: 10px;
          height: 10.5rem;
          width: 100%;
          background: slateblue;
          background: #ec4767;
          padding: 10px;
          #comentarios {
            resize: none;
            width: 100%;
            height: 100%;
            padding: 0 5px;
          }
          #comentarios:focus {
            outline: none;
          }
          .col {
            row-gap: 3px;
          }
        }
        .row-4 {
          button {
            background: red;
            padding: 5px;
            height: 3rem;
            width: 8rem;
            border-radius: 10px;
            color: #fff;
            border: none;
            font-weight: bold;
          }
          a {
            text-align: center;
            line-height: 1;
            color: #fff;
            text-decoration: none;
            background: green;
            padding: 5px;
            height: 3rem;
            width: 8rem;
            border-radius: 10px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}