* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-logo-color: radial-gradient(circle, #ffa600 20%, #ff3300 80%);
    --main-color: #d82651;
    --bg-color: linear-gradient(90deg, #ff3300 20%, #d82651 80%);
    --color-links: #bbb;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    .container-arrow {

        height: 3.4rem;
        background: #b21942;

        a {
            color: #fff;
            font-size: 1.7rem;

        }
    }

}

main {
    flex-grow: 1;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-size: 18px;
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}

main section {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);

    margin-top: 3.5rem;
}

main section .logo {
    height: 120px;
    width: 236px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}

main section .logo::before {
    content: '';
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
}

main section .logo img {
    height: 100%;
    width: 100%;
    padding: 10px;
    object-fit: contain;
    position: relative;
}

main section h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
}

main section .container-form {
    width: 90%;
}

main section .container-form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

main section .container-form form p {
    margin: 0;
    font-weight: bold;
}

main section .container-form form p label {
    display: block;
    margin-bottom: 5px;
    color: var(--main-color);
}

main section .container-form form p input {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding-left: 10px;
    background: #eee;
}

main section .container-form form p input {
    height: 35px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    border-radius: 0px;
    padding-left: 10px;
    background: none;
}

main section .container-form form p input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    height: 45px;
    border: 0;
    border-radius: 15px;
    background: var(--bg-color);
}

main section .container-form form p span {
    display: block;
    text-align: end;
}

main section .container-form form p span a {
    text-decoration: none;
    color: var(--color-links);
}

main .carrucel {
    display: none;
}