/* icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,300;1,300&display=swap');


/*
font-family: 'Geologica', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-logo-color: radial-gradient(circle, #ffa600 20%, #ff3300 80%);
    --main-color: #FF6B00;
    --bg-color: linear-gradient(90deg, #ffa600 20%, rgba(255,51,0,1) 80%);
    --color-links: #bbb;
}

body {
    height: 100vh;
    width: 100%;
    /* height: 100%; */
    background: #ffa600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ysabeau Office', sans-serif;


}

/* ---------------- */

main {
    /* min-height: 600px;
    min-width: 1000px; */
    height: 70%;
    width: 65%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    column-gap: 10px;
}

main section {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background: #fff;
    /* outline: 1px solid red; */
}
/* *++*++* */
/* main section:first-child {
    width: 40%;
    outline: 1px solid blue;
} */
main section:nth-child(2) {
    width: 60%;
    /* outline: 1px solid blue; */
    background: #efefef;
}

main section .logo {
    height: 100px;
    width: 100px;
    background: var(--bg-logo-color);
    /* border-radius: 100%; */
    /* border-radius: 25% 75% 75% 25% / 25% 51% 49% 25%; */
    border-radius: 48% 52% 0% 32% / 0% 65% 35% 41%;
    overflow: hidden;
    position: relative;
}

main section .logo::before {
    content: '';
    width: calc(100% - 15px);
    height: calc(100% - 15px);
    background: var(--bg-logo-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
}

main section .logo img {
    height: 100%;
    width: 100%;
    padding: 10px;
    object-fit: contain;
    position: relative;
}

main section h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
}

main section .container-form {
    /* width: 90%; */
    width: 80%;
}

main section .container-form form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

main section .container-form form p {
    margin: 0;
    font-weight: bold;
}

main section .container-form form p label {
    display: block;
    margin-bottom: 5px;
    color: var(--main-color);
}

main section .container-form form p input {
    height: 35px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    padding-left: 10px;
    background: #eee;
}

main section .container-form form p input[type="submit"] {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    height: 40px;
    background: var(--bg-color);
}

main section .container-form form p span {
    display: block;
    text-align: end;
}
    
main section .container-form form p span a {
    text-decoration: none;
    color: var(--color-links);
}

main .carrucel .info {
    width: 100%;
    height: 80%;
    /* background: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

main .carrucel .info span {
    text-align: center  ;
    display: inline-block;
    /* width: 100%; */
    width: 80%;
    /* background: red; */
    font-family: 'Roboto', sans-serif;
    /* font-weight: 500; */
}

main .carrucel .info span:first-child {
    text-align: left;
    /* background: red; */
}

main .carrucel .info img {
    width: 75%;
}

@media screen and (max-width: 1025px) {
    main {
        width: 75%;
    }
}

@media screen and (max-width: 900px) {
    main {
        width: 85%;
    }
}


/* ---------------- */

@media screen and (max-width: 835px) {
    main {
        height: 100%;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-size: 18px;
        /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        /* color: #0D6EFD; */
        background: #0D6EFD;
        background: #ffa600;

    }
    
    main section {
        height: 75%;
        width: 70%;
        /* background: #aaa; */
        /* background: var(--main-color); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);

    }

    main section .logo {
        height: 120px;
        width: 120px;
        background: var(--bg-logo-color);
        border-radius: 100%;
        overflow: hidden;
        position: relative;
    }

    main section .logo::before {
        content: '';
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        background: var(--bg-logo-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
    }

    main section .logo img {
        height: 100%;
        width: 100%;
        padding: 10px;
        object-fit: contain;
        position: relative;
    }

    main section h2 {
        font-size: 30px;
        font-weight: bold;
        color: var(--main-color);
        /* color: #0D6EFD; */
    }

    main section .container-form {
        /* background: #ddd; */
        width: 90%;
    }

    main section .container-form form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        /* background: red; */
    }

    main section .container-form form p {
        margin: 0;
        font-weight: bold;
    }
    
    main section .container-form form p label {
        display: block;
        margin-bottom: 5px;
        color: var(--main-color);
    }

    main section .container-form form p input {
        height: 35px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 15px;
        padding-left: 10px;
        background: #eee;
        /* margin-left: 10px; */
    }

    main section .container-form form p input[type="submit"] {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        height: 40px;
        background: var(--bg-color);
    }

    /* main section .container-form form p input::placeholder {
        padding-left: 10px;
    } */

    main section .container-form form p span {
        display: block;
        text-align: end;
    }
    
    main section .container-form form p span a {
        text-decoration: none;
        color: var(--color-links);
    }

    main .carrucel {
        display: none;
    }
}

/* --------------- */

@media screen and (max-width: 415px) {
    main {
        height: 100%;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-size: 18px;
        /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        /* color: #0D6EFD; */
        background: #0D6EFD;
        background: #ffa600;

    }
    
    main section {
        height: 75vh;
        width: 90%;
        /* background: #aaa; */
        /* background: var(--main-color); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);

    }

    main section .logo {
        height: 120px;
        width: 120px;
        background: var(--bg-logo-color);
        border-radius: 100%;
        overflow: hidden;
        position: relative;
    }

    main section .logo::before {
        content: '';
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        background: var(--bg-logo-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
    }

    main section .logo img {
        height: 100%;
        width: 100%;
        padding: 10px;
        object-fit: contain;
        position: relative;
    }

    main section h2 {
        font-size: 30px;
        font-weight: bold;
        color: var(--main-color);
        /* color: #0D6EFD; */
    }

    main section .container-form {
        /* background: #ddd; */
        width: 90%;
    }

    main section .container-form form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        /* background: red; */
    }

    main section .container-form form p {
        margin: 0;
        font-weight: bold;
    }
    
    main section .container-form form p label {
        display: block;
        margin-bottom: 5px;
        color: var(--main-color);
    }

    main section .container-form form p input {
        height: 35px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 15px;
        padding-left: 10px;
        background: #eee;
        /* margin-left: 10px; */
    }

    main section .container-form form p input[type="submit"] {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        height: 40px;
        background: var(--bg-color);
    }

    /* main section .container-form form p input::placeholder {
        padding-left: 10px;
    } */

    main section .container-form form p span {
        display: block;
        text-align: end;
    }
    
    main section .container-form form p span a {
        text-decoration: none;
        color: var(--color-links);
    }

    main .carrucel {
        display: none;
    }
}

/* --------------- */

@media screen and (max-width: 391px) {
    main {
        height: 100%;
        width: 100%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        font-size: 18px;
        /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
        background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        /* color: #0D6EFD; */
        background: #0D6EFD;
        background: #ffa600;

    }
    
    main section {
        height: 75vh;
        width: 90%;
        /* background: #aaa; */
        /* background: var(--main-color); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);

    }

    main section .logo {
        height: 120px;
        width: 120px;
        background: var(--bg-logo-color);
        border-radius: 100%;
        overflow: hidden;
        position: relative;
    }

    main section .logo::before {
        content: '';
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        background: var(--bg-logo-color);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        clip-path: polygon(evenodd, 25% 25%, 50% 25%, 75% 50%, 50% 75%, 25% 50%, 37.5% 37.5%, 37.5% 62.5%, 62.5% 62.5%, 62.5% 37.5%, 50% 37.5%, 62.5% 50%, 50% 62.5%, 37.5% 50%, 43.75% 43.75%, 50% 43.75%, 56.25% 50%, 50% 56.25%, 43.75% 50%, 46.88% 46.88%, 53.13% 46.88%, 53.13% 53.13%, 46.88% 53.13%, 46.88% 46.88%, 50% 43.75%, 56.25% 43.75%, 56.25% 56.25%, 43.75% 56.25%, 43.75% 43.75%, 50% 37.5%, 37.5% 37.5%, 50% 25%, 75% 25%, 75% 75%, 25% 75%, 0% 50%, 50% 0%, 100% 50%, 50% 100%, 25% 75%);
    }

    main section .logo img {
        height: 100%;
        width: 100%;
        padding: 10px;
        object-fit: contain;
        position: relative;
    }

    main section h2 {
        font-size: 30px;
        font-weight: bold;
        color: var(--main-color);
        /* color: #0D6EFD; */
    }

    main section .container-form {
        /* background: #ddd; */
        width: 90%;
    }

    main section .container-form form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        /* background: red; */
    }

    main section .container-form form p {
        margin: 0;
        font-weight: bold;
    }
    
    main section .container-form form p label {
        display: block;
        margin-bottom: 5px;
        color: var(--main-color);
    }

    main section .container-form form p input {
        height: 35px;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 15px;
        padding-left: 10px;
        background: #eee;
        /* margin-left: 10px; */
    }

    main section .container-form form p input[type="submit"] {
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        height: 40px;
        background: var(--bg-color);
    }

    /* main section .container-form form p input::placeholder {
        padding-left: 10px;
    } */

    main section .container-form form p span {
        display: block;
        text-align: end;
    }
    
    main section .container-form form p span a {
        text-decoration: none;
        color: var(--color-links);
    }

    main .carrucel {
        display: none;
    }
}